@model UserViewModel

<h1>Create User</h1>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    @*<div class="form-group">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <select asp-for="Country" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Country)))">
                <option selected disabled value="Select">Select Country</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
        </div>*@

    <button type="submit" value="Create" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>